# Copy this file to .env.local and fill in your Supabase credentials

# Get these from https://app.supabase.com/project/_/settings/api
VITE_SUPABASE_URL=https://knwhagfblcjwgjyikilm.supabase.co/rest/v1/o
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtud2hhZ2ZibGNqd2dqeWlraWxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NzM3ODksImV4cCI6MjA5MzM0OTc4OX0.cdCAQUcRWfl3BDb6pV9oqd1F3z0Qe0XyY1YkwNfNN7U

VITE_APP_NAME=CHILL aSTD POS

